@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Mochiy+Pop+One&display=swap');

.sample_text24 {
  height: 100px;
}

.stars {
  display: inline-block;
}

.rated img{
  background-image: url(rated.jpg);
  display: inline-block;
  width: 30px;
  height: auto;
}
