@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Mochiy+Pop+One&display=swap');

header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0 5%;
  box-sizing: border-box;
  background-color: rgb(255, 135, 135);
  align-items: center;
  position: fixed;
}
.title {
  margin-right: auto;
}
.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
.sample_text24 {
  height: 700px;
}
#content {
  margin-top: 0;
  padding-bottom: 100px;
}